@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";



.google-sans-code-bold {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.google-sans-code-base {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  /* font-size: 1.15rem; */
  font-style: normal;
}